<app-nav-bar></app-nav-bar>
<div class="hero">
    <h1>Eventos ChitChat</h1>
    <h2>"Nunca dejes de aprender porque la vida nunca deja de enseñar"</h2>
</div>

<div>
    <figure>
        <img class="h-50 w-50 m-auto" src="../../../assets/images/2grupohablando.jpg">
    </figure>
    <div class="d-flex m-3 p-3 justify-content-center">
        <select class="form-select" aria-label="Default select example" (change)="onChange($event)">
            <option value="all">Todos los eventos</option>
            <option value="1">Español <span>🇪🇸</span></option>
            <option value="2">Inglés <span>🇬🇧 </span></option>
            <option value="3">Alemán <span> 🇩🇪</span></option>
            <option value="4">Japonés <span>🇯🇵</span></option>
        </select>
    </div>
    <div class="events d-flex flex-wrap m-2 row">
        <div class="event col-lg-3 col-md-5 col-12" *ngFor="let event of arrEvents">
            <h3>{{event.title}}</h3>
            <hr>
            <p>Fecha: {{event.date | date}}</p>
            <p>Hora: {{event.time | slice:0:-3}}</p>
            <p>Idioma: {{event.language_name}}{{event.language_image}}</p>
            <img [src]="event.image">
            <div class="d-flex justify-content-center">
                <button class="btn btn-outline-light mt-3" [routerLink]="['/events', event.id]"> Ver más -> </button>
            </div>

        </div>
    </div>


</div>

<button class="btnevent mb-3" [routerLink]="['/events/new']">Crea tu evento</button>