@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


:root {
    --fontfamily: 'Roboto', sans-serif;
    --maincolor: #3a6ac2;
    --secondcolor: #44caaa;
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

figcaption {
    text-align: center;
    font-size: 1.5em;
    font-family: var(--fontfamily);
    color: var(--maincolor);
}

.hero {
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, #44caaa 0%, #7aaefd 100%);
}

.hero h1 {
    text-align: center;
    color: white;
    font-family: var(--fontfamily);
    font-size: 100px;
    font-weight: 700;
    padding-top: 50px;
}

select {
    border: 2px solid var(--maincolor);
    color: var(--secondcolor);
}

.events {

    justify-content: center;
    color: var(--maincolor);
    font-weight: 700;
}

.event {

    margin: 20px;
    background: linear-gradient(180deg, #44caaa 0%, #7aaefd 100%);
    padding: 30px;
    border-radius: 20px;
}

h2 {
    text-align: center;
    color: rgb(136, 136, 230);
    font-family: Montserrat;
}

h3 {

    color: azure;
}

p {
    font-size: 1.1em;
}

.btnevent {

    display: block;
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    height: 80px;
    font-family: var(--fontfamily);
    font-size: 1.5em;
    border: 2px solid rgb(136, 136, 230);
    background: linear-gradient(180deg, #44caaa 0%, #7aaefd 100%);
    color: white;
    border-radius: 10px;
}

.btnevent:hover {
    background: var(--secondcolor);
}

.btngo {
    display: block;
    width: 100px;
    padding: 10px;
    border: 2px solid rgb(57, 55, 81);
    border-radius: 10px;
    float: right;
}