.container {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}


.selector {

    display: flex;


}

.selector div {
    background-color: blueviolet;
}

.selector select {
    display: block;
    width: 300px;
    padding: 5px;
    margin: 10px;
    border: 2px solid white;
    background-color: white;
    color: #3a6ac2;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    padding: 100px;
}

.user {
    display: flex;
    width: 450px;
    height: auto;
    margin: 10px;
    padding: 10px;
    border: 2px solid #7aaefd;
}

.avatar img {

    width: 170px;
    height: 170px;
    border-radius: 50%;


}

.data {

    width: 100%;
    background-color: #7aaefd;
}