<app-nav-bar></app-nav-bar>


<div class="hero">


    <div>
        <h1>Comunidad</h1>
    </div>

    <div>
        <h2>«Si hablas a un hombre en un idioma que comprenda, eso llega a su cabeza. Si hablas con él en su idioma, eso llega a su corazón» -Nelson Mandela</h2>

    </div>

</div>



<div class="container">



    <div class="selector">

        <div>
            <label for="staticEmail" class="col-sm-2 col-form-label">Hablan:</label>
            <select (change)="onChange($event)" class="form-select form-select-sm">
                <option value="reset">Todos</option>
                <option value="1">Español </option>
                <option value="2">Inglés</option>
                <option value="3">Aleman</option>
                <option value="4">Japones</option>
            </select>
        </div>

        <div>
            <label for="staticEmail" class="col-sm-2 col-form-label">Buscan:</label>
            <select (change)="onChangeW($event)" class="form-select form-select-sm">
                <option value="reset">Todos</option>
                <option value="1">Español </option>
                <option value="2">Inglés</option>
                <option value="3">Aleman</option>
                <option value="4">Japones</option>
            </select>
        </div>

    </div>

    <div class="users">

        <div class="user zoom" *ngFor="let user of arrUsers">

            <div class="avatar">
                <img [src]="user.imagen" alt="">
            </div>
            <div class="data">

                <h2>{{user.username}}</h2>
                <p><span> Nombre: </span> {{user.name}} {{user.surname}}</p>
                <p> <span> Genero: </span>{{user.gender}}</p>

                <div class="lan">

                    <p><span> Nativo: </span>
                        <img [src]="user.languageHas" alt="">
                    </p>

                    <p><span> Busca: </span> <img [src]="user.languageWant" alt=""></p>

                </div>

            </div>
        </div>
    </div>





</div>