<main>



    <div class="title"> Bienvenido a
        <div class="logo">ChitChat <i class="fa-regular fa-comment"></i></div>
    </div>


    <div class="form">

        <form class="register" [formGroup]="form" (ngSubmit)="onSubmit()">


            <div class="detail">
                <div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Usuario:</label>
                    <input type="text" formControlName="username">
                </div>

                <div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Contraseña:</label>
                    <input type="text" formControlName="password">
                </div>

                <hr>

                <div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Nombre:</label>

                    <input type="text" formControlName="name">
                </div>

                <div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Apellidos:</label>
                    <input type="text" formControlName="surname">
                </div>


                <div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                    <input type="text" formControlName="email">
                </div>

                <div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Fecha de nacimiento:</label>
                    <input type="date" formControlName="date_birth">
                </div>

                <div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Género</label>
                    <select formControlName="gender" class="form-select form-select-sm">

                        <option value="m">Masculino</option>
                        <option value="f">Femenino</option>
                    </select>
                </div>

            </div>

            <div class="language">
                <div>
                    <p>Ahora toca los idiomas, por ahora con uno de cada bastará para empezar </p>
                </div>

                <div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Puedes enseñar:</label>
                    <select formControlName="languageHas" class="form-select form-select-sm">
                        <option value="1">Español <span>🇪🇸</span> </option>
                        <option value="2">Inglés <span>🇬🇧 </span> </option>
                        <option value="3">Aleman <span> 🇩🇪 </span> </option>
                        <option value="4">Japones <span>🇯🇵</span> </option>
                    </select>
                </div>

                <div>
                    <label for="staticEmail" class="col-sm-2 col-form-label">Quieres aprender</label>
                    <select formControlName="languageWant" class="form-select form-select-sm">
                        <option value="1">Español 🇪🇸 </option>
                        <option value="2">Inglés 🇬🇧</option>
                        <option value="3">Aleman 🇩🇪</option>
                        <option value="4">Japones 🇯🇵</option>
                    </select>
                </div>

            </div>

            <div>
                <input class="btn" type="submit" value="CREAR CUENTA" [disabled]="!form.valid">
            </div>
        </form>

    </div>



</main>