<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <app-nav-bar></app-nav-bar>
    </header>

    <main>

        <div class="register">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div>
                    <label for="">Usuario:</label>
                    <input type="text" formControlName="username">
                </div>

                <div>
                    <label for="">Contraseña:</label>
                    <input type="text" formControlName="password">
                </div>

                <hr>

                <div>
                    <label for="">Nombre:</label>
                    <input type="text" formControlName="name">
                </div>

                <div>
                    <label for="">Apellidos:</label>
                    <input type="text" formControlName="surname">
                </div>

                <div>
                    <label for="">Género:</label>
                    <select formControlName="gender">
                        <option value="f">Masculino</option>
                        <option value="m">Femenino</option>
                    </select>
                </div>

                <div>
                    <label for="">Email:</label>
                    <input type="text" formControlName="email">
                </div>

                <div>
                    <label for="">Fecha de Nacimiento:</label>
                    <input type="text" formControlName="date_birth">
                </div>

                <div>
                    <input type="submit" value="enviar" [disabled]="!form.valid">
                </div>

            </form>
        </div>
    </main>
</body>

</html>