@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



main {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #44caaa 0%, #7aaefd 100%);
    display: flex;
    flex-direction: column;

}




/* LOGO */
.logo {
    display: inline;
    font-size: 1.2em;
    color: #fff;
}


.title {
    text-align: center;
    font-size: 4em;
    color: transparent;
    background: #3a6ac2;
    background-clip: text;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 50px;
    border-bottom: 2px solid white;
}


.register {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: auto;
    background-color: transparent;
    border-radius: 30px;
    align-items: center;
}



.detail {

    border: 2px solid white;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.language {
    width: 600px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
}


input {
    display: block;
    width: 500px;
    padding: 5px;
    margin: 10px;
    border: 2px solid white;
    background-color: white;
    color: #3a6ac2;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.btn {
    background-color: #8fe0cc;
    color: #2b5e5e;
    font-weight: 700;
    width: 400px;
    height: 50px;
    margin-top: 30px;
    margin-left: 80px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px;
    font-family: 'Roboto', sans-serif;
}

input.ng-valid.ng-touched {

    border: 3px solid lightgreen;
}

input.ng-invalid.ng-touched {

    border: 3px solid tomato;

}

div p {
    font-size: 40px;
    text-align: center;
    padding: 20px;
    color: #3a6ac2;
    font-weight: 700;
}

select {
    display: block;
    width: 500px;
    padding: 5px;
    margin: 10px;
    border: 2px solid white;
    background-color: white;
    color: #3a6ac2;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.selects div {
    display: block;
    flex-direction: row;
    width: 200px;
    height: 50px;
}



label {
    width: 100%;
    font-size: 20px;
    color: #3a6ac2;
    font-weight: 700;
}

.end {
    align-items: center;
    text-align: center;
    border: 2px solid white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

.end h3 {
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

}

.end h2 {
    color: #3a6ac2;
    font-weight: 700;
}


.link {
    font-size: large;
    font-weight: 700;
}






/* MEDIA QUERYS */

@media (max-width: 760px) {


    main {
        width: 100%;
        height: auto;

    }

    .title {
        text-align: center;
        font-size: 4em;
        padding: 2px;
    }



    .register {
        display: block;
        height: auto;

    }

    .language {
        width: calc(100vw - 20px);
        margin-left: 10px;

    }


    input {
        display: block;
        width: 100%;
    }

    .btn {
        width: 80%;

    }


    div p {
        font-size: 40px;
        text-align: center;

    }

    select {
        display: block;
        width: 100%;
    }

    .end {
        width: calc(100vw - 20px);
        margin-left: 10px;

    }


}


@media (max-width: 425px) {

    main {
        height: auto;
        display: flex;
        flex-direction: column;

    }

    .title {
        margin-top: 20px;

    }

    .register {

        display: block;
    }

    .logo {

        font-size: 1.0em;
    }


    .language {
        width: calc(100vw - 15px);
        margin: 0 5px;
        display: block;

    }

    input {
        width: 100%;
    }



    div p {
        font-size: 30px;
    }

    select {

        width: 100%;
    }

    .end {
        width: calc(100vw - 15px);
        margin-left: 5px;
    }

    .btn {
        width: 250px;

    }


}