@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



h1 {
    font-size: 4em;
    font-family: Montserrat;
    color: rgb(77, 27, 123);
    text-align: center;
}

.aboutus h3 {
    color: crimson;
}

.aboutus p {
    color: grey;
}