<div>

    <app-nav-bar></app-nav-bar>

    <div id="container">

        <div class="introduction d-flex text-center">
            <div class="col-6 m-3">
                <h1>Atrévete con cualquier idioma con <span> ChitChat </span></h1>
            </div>

            <div class="col-6 ">
                <img class="img-fluid" src="../../../assets/images/charla.png">
            </div>
        </div>
    </div>

    <div class="d-flex flex-column">
        <div class="mapa">
            <h2>Conoce nuestros eventos</h2>
            <app-map-events></app-map-events>
        </div>

        <div class="aboutus row">
            <h2>¿Cómo empezar?</h2>
            <div class="m-1 p-2 col-lg-3 col-sm-9 ">
                <h3>Atrévete</h3>
                <img src="../../../assets/images/29230729-mujer-estudiante-saltando-en-el-aula-a-través-del-hueco-en-la-pizarra.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quaerat vel sunt incidunt tempora ex natus eius, rem modi nam sint voluptatum unde esse? Cumque, accusantium corrupti vitae porro dolores illo sint sunt doloremque eligendi similique ea iusto amet ab. </p>
            </div>
            <div class="m-1 p-2 col-lg-3 col-sm-9">
                <h3>Motívate</h3>
                <img src="../../../assets/images/Missing-motivational-rewards-blog-03-17-16.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quaerat vel sunt incidunt tempora ex natus eius, rem modi nam sint voluptatum unde esse? Cumque, accusantium corrupti vitae porro dolores illo sint sunt doloremque eligendi similique ea iusto amet ab.</p>

            </div>
            <div class="m-1 p-2 col-sm-9 col-lg-3">
                <h3>Diviertete</h3>
                <img src="../../../assets/images/15833411-años-alegre-banda-de-fin-de-oficina-los-trabajadores-usando-el-teléfono-y-el-teclado-como-instrument.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta quaerat vel sunt incidunt tempora ex natus eius, rem modi nam sint voluptatum unde esse? Cumque, accusantium corrupti vitae porro dolores illo sint sunt doloremque eligendi similique ea iusto amet ab. </p>
            </div>
        </div>
    </div>

</div>