<div class="container-fluid">

    <header>
        <app-nav-bar></app-nav-bar>
    </header>
    <main>

        <div class=" wrapper container-fluid mt-5">
            <div class="row">

                <div class="aboutus col-6">
                    <h1>ChitChat</h1>
                    <!--  <h3>Conócenos</h3>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque hic voluptatibus reprehenderit veritatis quo repellendus odio cum? Neque vitae, sit omnis natus ex minima quaerat dolorum nemo officia, optio cupiditate ipsam voluptates animi aperiam ratione delectus quam laboriosam. </p> -->
                    <app-login></app-login>
                </div>
                <figure class="hero col-6">
                    <img class="img-fluid" src="./assets/images/online-language-courses-isometric-composition-with-with-woman-choosing-chinese-app-tablet-screen_1284-58708.png" alt="">
                </figure>

            </div>

        </div>


    </main>
    <footer>

    </footer>

</div>