<div class="container-fluid m3">

    <header>
        <app-nav-bar></app-nav-bar>
    </header>
    <main>
        <div class="hero">
            <h1>ChitChat</h1>
            <div class="aboutus">
                <h3>Conócenos</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque hic voluptatibus reprehenderit veritatis quo repellendus odio cum? Neque vitae, sit omnis natus ex minima quaerat dolorum nemo officia, optio cupiditate ipsam voluptates animi aperiam ratione delectus quam laboriosam. </p>
            </div>
            <app-login></app-login>
        </div>


    </main>
    <footer>

    </footer>

</div>