@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


:root {
    --fontfamily: 'Roboto', sans-serif;
    --maincolor: #3a6ac2;
    --secondcolor: #44caaa;
}

.activo {
    color: var(--secondcolor) !important;
}

.bar {
    background-color: white;
    color: var(--secondcolor);
    height: auto;
}

.logo {
    font-size: 1.8em;
}


.menu li a {
    color: var(--maincolor);
    font-family: var(--fontfamily);
    font-weight: 700;
    font-size: 1.3em;

}

.logo {
    color: var(--maincolor)
}