@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.bar {
    background-color: white;
    color: black;
    height: auto;
}

.logo {
    font-size: 1.5em;
}


.menu li a {
    color: black;
}

.menu li:hover {
    background-color: rebeccapurple;
    border-radius: 5px;
    transition: 0.3s ease;
}