@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.bar {
    background-color: rgb(24, 25, 26);
    color: #fff;
    height: auto;
}

.logo {
    font-size: 1.5em;
}


.menu li a {
    color: #fff;
}

.menu li:hover {
    background-color: #2c4f91;
    border-radius: 5px;
    transition: 0.3s ease;
}