<router-outlet></router-outlet>

<div class="login">
    <h2>Login</h2>
    <form #login="ngForm" (ngSubmit)="onSubmit(login)">
        <div class="acceso">
            <input type="text" placeholder="Usuario" name="usuario" ngModel>
            <input type="password" placeholder="Contraseña" name="password" ngModel>
        </div>

        <a class="text-center p-2 enlace ">¿Has olvidado la contraseña?</a>

        <input type="submit" value="ACCEDER" class="btn">

    </form>

    <a [routerLink]="['/register']" class="text-center p-2 enlace ">Crea tu cuenta</a>

</div>