@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');





/* 
verde camiseta : #44caaa
3a6ac2 azul pantalon

44caaa verde camiseta

ff6d4d naranja libro 

7aaefd azul clarito
8fe0cc
b6f0e1
339881

'Roboto', sans-serif;
 box-shadow: 5px 5px 5px 5px ;
*/

html {
    scroll-behavior: smooth;
}

div.wave {
    width: 100%;
    bottom: 0;
    position: absolute;

}

.wave svg {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 99;
}

#container {
    position: relative;
    background: linear-gradient(180deg, #44caaa 0%, #7aaefd 100%);
    height: 90vh;

}

/*navbar*/
.navbar {
    height: 100px;
    font-size: 20px;
}

.navbar-brand {
    font-size: 1.45em;
    color: var(--maincolor);
    padding-left: 10px;
}

.navbar-brand:hover {
    color: var(--secondcolor);
}

nav div a {
    color: var(--maincolor);
    font-family: var(--fontfamily);
    font-weight: 700;
    font-size: 1.05em;
}

nav div a:hover {
    color: var(--secondcolor);

}

/*HERO */


.elements {
    display: flex;

}

.firstpart {
    width: 50%;
    align-items: center;
    margin-top: 100px;
    margin-left: 100px;
}

/*Text*/

.introduction {
    width: 100%;
    height: auto;
    color: whitesmoke;
    margin-bottom: 50px;


}

.introduction span {

    color: #3a6ac2;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}

.introduction h1 {
    font-size: 62px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: 150px;

}

.firstpart img {
    width: 70%;
    height: auto;
    z-index: 100;
    margin-left: 200px;
    position: relative;
}



/* Login */
.secondpart {
    width: 50%;
    height: auto;
    padding: 200px;
    margin-top: 120px;
    margin-right: 50px;
    align-items: center;
    padding-top: 50px;
}


.login {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;

    border: 2px solid white;
    border-radius: 30px;
    /* box-shadow: 5px 5px 2px #3a6ac2; */
    box-shadow: 0 8px 20px rgba(0, 0, 0.15, 0.15);

}

h2 {
    text-align: center;
    font-size: 2.5em;
    color: #3a6ac2;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700
}

.login div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}

.acceso input {
    display: block;
    padding: 5px;
    margin: 10px;
    border: 2px solid white;
    background-color: white;
    color: #3a6ac2;
    font-weight: 700;
    border-radius: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}

.btn {
    background-color: #8fe0cc;
    color: #2b5e5e;
    font-weight: 700;
    width: 100%;
    height: 50px;
    align-items: center;
    border-radius: 20px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.enlace {
    display: block;
    color: #3a6ac2;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}



/* PARTS ABOUTUS */




.aboutus {
    display: block;
}

.triangle {
    display: block;
    margin-top: 200px;
    position: relative;
    background: #3a6ac2;
    height: 20vh;
}

.triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 100px;
    border-color: #3a6ac2 transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
}

.abouthe {
    margin-top: 100px;
    font-size: 30px;
    padding: 20px;
    height: auto;
    align-items: center;
    text-align: center;


}

.abouthe h2 {
    color: white;

}

.abouthe h4 {
    font-size: 25px;
    color: #44caaa;
}


.aboutus {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.parts {

    width: 100%;
    height: auto;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    font-family: 'Roboto', sans-serif;

}

.aboutus .image {
    width: 600px;
}

.aboutus .image img {
    width: 100%;
}

#talk {
    width: 700px;
    margin-bottom: 50px;
    margin-top: 20px;
}

#travel {
    width: 700px;
}

.abouttext {
    width: 50%;
    height: 100%;
    justify-content: center;
    border-radius: 20px;

    box-shadow: 0 8px 20px rgba(0, 0, 0.15, 0.15);

}

.abouttext div {

    padding: 15px;
    align-items: center;
}

.aboutus h2 {

    font-size: 40px;
    color: #fff;
    padding: 20px;
    text-align: left;
    background: linear-gradient(180deg, #44caaa 0%, #7aaefd 100%);
    border-radius: 20px;

}

.abouttext p {
    color: #3a6ac2;
    font-size: 25px;
    padding: 20px;
}



/* CARDS*/






.cards {
    width: 100%;
    height: auto;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    padding-top: 60px;

}

.card {
    width: 300px;
    height: 400px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #7aaefd;
    text-align: center;
    border-radius: 20px;


}

.card h2 {
    font-size: 70px;
    padding-top: 30px;
    color: #44caaa;


}

.card h3 {
    font-size: 30px;
    padding-top: 30px;
    color: #3a6ac2;
    font-weight: 700;


}

.card p {
    color: #3a6ac2;
    font-size: 20px;
    padding-top: 30px;
}



.zoom:hover {
    transform: scale(1.1);
}

.zoom {
    transition: transform .2s;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #3a6ac2;
    text-align: center;
    display: block;
    color: antiquewhite;
}

footer a {
    display: block;
    padding-top: 10px;
}

footer a:hover {
    color: azure;
}



/* MEDIA QUERIES */


@media (max-width: 768px) {

    .elements {
        display: block;

    }

    .firstpart {
        width: 100%;
        align-items: center;
        margin-top: 100px;
        margin-left: 0px;
    }

    /*Text*/

    .introduction {
        width: 90%;



    }



    .introduction h1 {
        font-size: 70px;

    }

    .firstpart img {
        width: 70%;
        height: auto;
        z-index: 100;
        margin-left: 120px;
        position: relative;
    }



    /* Login */
    .secondpart {
        width: 100%;
        height: auto;
        margin-top: 100px;

    }


    .login {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 400px;
        background: linear-gradient(180deg, #44caaa 0%, #7aaefd 100%);
        border: 2px solid white;
        border-radius: 30px;
        /* box-shadow: 5px 5px 2px #3a6ac2; */
        box-shadow: 0 8px 20px rgba(0, 0, 0.15, 0.15);

    }


    /* CARDS*/

    .spikes {
        position: relative;
        background: #2c3e50;
        height: 50vh;
    }

    .spikes::after {
        content: '';
        position: absolute;
        right: 0;
        left: -0%;
        top: 100%;
        z-index: 10;
        display: block;
        height: 150px;
        background-size: 150px 100%;
        background-image: linear-gradient(135deg, #2c3e50 25%, transparent 25%), linear-gradient(225deg, #2c3e50 25%, transparent 25%);
        background-position: 0 0;
    }



    .cards {
        width: 100%;
        height: auto;
        background-color: #7aaefd;
    }

    .card {
        margin-top: 50px;
        margin-bottom: 10px;

    }
}

@media (max-width: 425px) {

    .elements {
        display: block;

    }

    .firstpart {
        width: 100%;
        margin-top: 50px;
        margin-left: 0px;
    }

    /*Text*/

    .introduction {
        width: 100%;
        height: auto;
        color: whitesmoke;
        margin-bottom: 50px;


    }

    .introduction span {
        font-size: 60px;

    }

    .introduction h1 {
        font-size: 50px;
        margin-left: 20px;

    }

    .firstpart img {
        width: 70%;
        margin-left: 70px;

    }



    /* Login */
    .secondpart {
        width: 100%;
        padding: 10px;
        margin-top: 140px;
        margin-right: 50px;
        padding-top: 50px;
    }


    /* PARTS ABOUTUS */




    .aboutus {
        display: block;
    }

    .triangle {
        display: block;
        margin-top: 50px;
        height: auto;
    }

    .abouthe {
        margin-top: 100px;
        font-size: 20px;

    }


    .aboutus {
        display: block;
        flex-wrap: wrap;
        margin-bottom: 200px;
    }

    .parts {

        padding-top: 50px;

    }

    .aboutus .image {
        width: 100%;
    }

    .aboutus .image img {
        width: 100%;
    }

    #talk {
        width: 450px;
    }

    #travel {
        width: 500px;
    }

    .abouttext {
        width: 90%;
        height: 100%;
    }

    .abouttext div {

        padding: 15px;
        align-items: center;
    }


    /* CARDS*/

    .cards {

        height: auto;

    }


}