<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <router-outlet></router-outlet>

    <div class="wave">
        <svg width="100%" height="200px" fill="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <path fill="white" d="
            M0 67
            C 273,183
              822,-41
              1920.01,106 
            V 359 
            H 0 
            V 67
            Z">
            </path>
        </svg>
    </div>


    <div id="container">

        <header class="header">
            <!-- LOGO -->
            <div class="logo">ChitChat</div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>


                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li class="services">
                        <a href="/">Services</a>
                        <!-- DROPDOWN MENU
                        <ul class="dropdown">
                            <li><a href="/">Dropdown 1 </a></li>
                            <li><a href="/">Dropdown 2</a></li>
                            <li><a href="/">Dropdown 2</a></li>
                            <li><a href="/">Dropdown 3</a></li>
                            <li><a href="/">Dropdown 4</a></li>
                        </ul> -->
                    </li>
                    <li><a href="/">Pricing</a></li>
                    <li><a href="/">Contact</a></li>
                </div>
            </ul>


        </header>


        <section class="elements">

            <div class="firstpart">

                <div class="introduction">
                    <h1>Habla cualquier idioma con ChitChat </h1>
                    <h2>Únete a la comunidad</h2>

                </div>

                <img src="../../../assets/images/burbujapelirroja.png" alt="group">
            </div>

            <div class="secondpart">

                <div class="login">
                    <h2>Login</h2>
                    <form #login="ngForm" (ngSubmit)="onSubmit(login)">
                        <div class="acceso">
                            <input type="text" placeholder="Usuario" name="username" ngModel>
                            <input type="password" placeholder="Contraseña" name="password" ngModel>
                        </div>

                        <a class="text-center p-2 enlace ">¿Has olvidado la contraseña?</a>

                        <input type="submit" value="ACCEDER" class="btn">

                    </form>

                    <a [routerLink]="['/register']" class="text-center p-2 enlace ">Crea tu cuenta</a>

                </div>


            </div>
        </section>

    </div>






</body>

</html>