.user {
    display: flex;
    background-color: aqua;
}

.user img {
    width: 300px;
    height: 300px;

}

.flag img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.event {
    display: flex;
    background-color: aquamarine;
}

.event img {
    width: 150px;
    height: 150px;
}