<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <app-nav-bar></app-nav-bar>
    </header>
    <main>

        <div class="d-flex flex-wrap">
            <form class="form" [formGroup]="formEvent" (ngSubmit)="onSubmit()">


                <div>
                    <label>Título</label>
                    <input type="text" formControlName="title">
                </div>
                <div>
                    <label>Fecha</label>
                    <input type="date" formControlName="date">
                </div>
                <div>
                    <label>Hora</label>
                    <input type="time" formControlName="time">
                </div>
                <div>
                    <label>Imagen</label>
                    <input type="text" formControlName="image">
                </div>
                <div>
                    <label>Descripción</label>
                    <input type="text" formControlName="description">
                </div>
                <div>
                    <label>Direccion</label>
                    <input type="text" formControlName="address">
                </div>
                <div>
                    <input type="submit" value="Crear evento">
                </div>
            </form>

            <img src="../../../assets/images/6charlando.jpg">

        </div>

    </main>





</body>

</html>