/* You can add global styles to this file, and also import other style files */

:root {
    --fontfamily: 'Roboto', sans-serif;
    --maincolor: #3a6ac2;
    --secondcolor: #44caaa;
    --corse: 1200px;
}