@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100&display=swap');


.evento {
    background-color: goldenrod;
    border: 2px solid black;
    font-family: Roboto;
    padding: 20px;
}

h3 {
    padding: 10px;
    font-size: 1.5em;
}

img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.datos {
    width: 100%;
    border: 2px solid goldenrod;
    padding: 10px;
    border-radius: 20px;
}

.datos p {
    color: black;
}

.map {
    margin: 10px;
    width: 50%;
    height: 300px;

}

.form {
    background-color: goldenrod;
    border: 2px solid black;
}

.reviews {

    background-color: goldenrod;
    border: 2px solid black;
}

.reviews h3 {
    background-color: black;
    color: goldenrod;
}

.asistance {

    background-color: goldenrod;
    border: 2px solid black;
}